<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
email :<input type="email" name="email" id="email"/>
<br>
password :<input type="text" name="password" id="password"/>
<br>
<button type="submit" id="submit">Log In</button>
</form>

