<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  
  <lable for="email">Email: </lable>
  <input id="email" type="text" name="email">
  
  <lable for="password">Password: </lable>
  <input id="password" type="password" name="password">
  
  <input id="submit" type="submit" value="Log In">
</form> 

