<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <p><label>Email:</label> <input type="email" name="email" id="email" required></p>
  <p><label>Password:</label> <input type="password" name="password" id="password" required></p>
  <input type="submit" value="Log In" id="submit">
</form>