<h1>Sign Up Below:</h1>


<form action="/registrations" method="post">
<h2>Name:<input id="name" type="text" name="name"></h2><br>
<h2>Email:<input id="email" type="text" name="email"></h2><br>
<h2>Password:<input id="password" type="text" name="password"></h2><br>
<input type="submit" value="Sign Up">
</form>